* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.hide{
    display:none;
}
.show{
    display: block;
}
body{
    font-family: 'Architects Daughter', cursive;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
.flex{
    max-width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
	background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    
}
.flex_column1{
    position: relative;
    width: 50%;
    height: 100vh;
}
.flex_column1_video{
    position: relative;
    height: 100vh;
    width: 100vh;
    object-fit: cover;
    -webkit-object-fit:cover;
    /* @media screen and (max-width: 800px) {
    height: 50vh; */

    }
.flex_column1_content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid whitesmoke;
        box-shadow: 0 3rem 4rem rgba(8, 7, 7, 0.287);
        border-radius: 20px;
        background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
}
.flex_column1_content-text{
        padding: 20px;
        font-size:xx-large;
        color: rgb(255, 255, 255);
        font-weight: bolder;
}
.reg-form{
    /* border: linear-gradient(-45deg, rgb(202,141,141), rgb(152, 207, 207),rgb(202,141,141), rgb(139, 172, 120)); */
    border-radius: 20px;
    height: 1000px;
    /* background-color: rgb(209, 71, 71); */
    background: linear-gradient(to left, rgb(202,141,141), rgb(152, 207, 207),rgb(202,141,141), rgb(139, 172, 120));
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-shadow: 0 3rem 4rem rgba(119, 4, 4, 0.287);
    margin: 40px;
    padding: 50px;
}
h1{
    font-family: 'Architects Daughter', cursive;
}
h2{
    font-family: 'Architects Daughter', cursive;
}
.dashboard{ 
    background-color: #f3f2ef;
    width: 100%;  
    min-height: 100vh;
}
.logo{
    width: 60px;
    height: 60px; 
    border-radius: 60px; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
.storyline-header{
    color: black;
}
header{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    background-color: #ffff;
    /* background: linear-gradient(to right, #566e69, #76aa9e); */
    border-bottom: 4px solid black;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li{
    font-size: 26px;
    color: grey;
    margin-right: 20px;
    font-family: 'Birthstone', cursive;
    font-family: 'Ephesis', cursive;
    font-family: 'Lobster', cursive;
}
.header-login{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
}
a{
    /* display: block; */
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
}
a:hover{
    color: rgb(138, 110, 110);
}
button{
    position: absolute;
    top: 110%;
    left: 32%;
    border: 1px solid black;
    font-weight:700;
    font-size: 24px;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 3rem 4rem rgba(255, 255, 255, 0.287);
    margin: 7px 3px;
}
.button{
    display: block;
    align-items: center;
    border: 1px solid black;
    font-weight:700;
    font-size: 24px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 3rem 4rem rgba(255, 255, 255, 0.287);
    /* margin: 7px 3px; */
    padding: 10px;
    margin-top: 40px
}
label{
    display: block;
    text-align: center;
    /* width: 725px; */
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;

}
input, select, input[type="text"], input[type="password"]{
    align-items: center;
    width: 400px;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 1rem 2rem rgba(8, 7, 7, 0.287);
}
textarea{
    align-items: center;
    width: 800px;
    font-family: 'Architects Daughter', cursive;
    padding: 20px;
    font-size: 25px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 1rem 2rem rgba(8, 7, 7, 0.287);
}

.listItem{
    text-align: center;
    border-bottom: 4px double lightgrey;
    margin: 20px;
}
.story{
    display: flex;
    justify-content: center;
}
.story-blocks{
    background-color: #f3f2ef;
    /* background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,0.36458333333333337) 100%); */
    /* background: radial-gradient(0deg, rgb(112, 82, 12) 0%, rgba(148,158,233,1) 100%); */
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(71, 64, 64);
    box-shadow: 0 2rem 2rem rgba(8, 10, 9, 0.287);
    font-family: 'Architects Daughter', cursive;
    font-size: 36px;
    margin-top: 60px;
}
.create-story-button{
    border: 1px solid black;
    font-weight:700;
    font-size: 24px;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1rem 2rem rgba(10, 9, 9, 0.287);
    margin: 7px 3px;
}
.create-story{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.create-story-form{
    /* border: linear-gradient(to right, rgb(202,141,141), rgb(152, 207, 207),rgb(202,141,141), rgb(139, 172, 120)); */
    border-radius: 20px;
    background-color: #f3f2ef;    
    /* background-color: rgb(209, 71, 71); */
    /* background: linear-gradient(to left, rgb(46, 30, 30), rgb(39, 65, 65),rgb(97, 60, 60), rgb(54, 75, 43)); */
    /* background: rgb(131,58,180);
    background: linear-gradient(30deg, rgba(131,58,180,0.3085609243697479) 0%, rgba(159,65,65,0.6446953781512605) 50%, rgba(69,122,252,0.227328431372549) 100%); */
    box-shadow: 0 1rem 2rem rgba(8, 10, 9, 0.287);
    margin: 50px;
    padding: 50px;
}

.story-header{
    padding-top: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.profile{
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
.profile-div{
    border: 2px solid black;
    border-radius: 30px;
    background-color: #f3f2ef;
    box-shadow: 0 1rem 2rem rgba(10, 9, 9, 0.287);
    padding: 20px;
    margin: 20px;
}

.profile-pic{
    margin-top: 20px;
}

.comments{
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.smaller{
    font-size: 22px;
}
.fav-stories{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.stories{
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    background-color: #f3f2ef;
    box-shadow: 0 1rem 2rem rgba(10, 9, 9, 0.287);
}
.genre{
    font-family: 'Architects Daughter', cursive;
}


/* experimenting with dropdown menu thats gonna filter stories by genre  */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}