html, body {
    margin: 0px;
    padding: 0px;
    
}
.container {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    border-radius: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .container{
    background: linear-gradient(to right, rgba(73, 18, 223, 0.294), rgba(161, 122, 124, 0.835));
    height: 100vh;
} */
a{
    text-decoration: none;
    margin-top: 15px;
    font-size: 25px;
    color: black;
}
a:hover{
    color: rgb(138, 110, 110);
}
button{
    position: absolute;
    top: 110%;
    left: 32%;
    border: 1px solid black;
    font-weight:700;
    font-size: 24px;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 12px 12px 3px;
    margin: 7px 3px;
}
label{
    display: block;
    width: 200px;
    font-size: 32px;
}
input, select{
    width: 150px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 13px 13px 6px;
}
.listItem{
    text-align: center;
    border-bottom: 4px double lightgrey;
    margin: 20px;
}