<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
{%load thumbnail%}
    <title>Welcome</title>
</head>
<body>
        <header>
                <h1 class="storyline-header">
                    <a href="/dashboard"><img class="logo" src="{% static 'images/typewriter.jpg' %}"/>
                    </a>
                    Storyline</h1>
                    <a href="/profile/{{user.id}}">
                        <h1 style="margin-left: 160px;">Welcome {{user.username}}
                        </h1> 
                    </a>                  
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/favorite/stories/{{user.id}}">Favorite Stories</a></li>
                </ul>
            </header>
            <section class="dashboard">
                <h1 class="text-center">Welcome To Storyline A Place To Share Ideas And Stories</h1>
            <div class="create-story">
                <div class="create-story-form">
                    <ul>  
                        {% if messages %}  
                            {% for message in messages %}
                                <li class="text-danger">{{message}}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <form action="create/story" method="POST">
                        <h1 class="text-center">Post A New Story</h1>
                        {%csrf_token%}
                        <label class="title" for="title">Title</label>
                        <input onclick="onButtonClickShow()" class="form-control" type="text" name="title">
                    <div id="textInput" class="hide">
                        <label class="form-label" for="content">Content</label>
                        <textarea class="form-control" type="text" name="content" rows="4" cols="25"></textarea>
                        <label>Genre:</label>
                        <select class="form-control custom-select mb-4" name="genre" id="">
                            <option value="action">Action/Adventure</option>
                            <option value="comedy">Comedy</option>
                            <option value="mystery/thriller">Mystery/Thriller</option>
                            <option value="sci-fi/fantasy">Sci-fi/Fantasy</option>
                            <option value="horror">Horror</option>
                            <option value="drama">Drama</option>
                            <option value="romance">Romance</option>
                        </select>
                        <input class="create-story-button" type="submit" value="Create Story">
                        <svg onclick="onButtonClickHide()" xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </div>
                    </form>
                </div>
            </div>
            <hr>
            <h1>Filter stories</h1>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/filter/stories/action">Action</a>
                    <a href="/filter/stories/comedy">Comedy</a>
                    <a href="/filter/stories/sci-fi">Sci-fi/Fantasy</a>
                    <a href="/filter/stories/mystery">Mystery/Thriller</a>
                    <a href="/filter/stories/horror">Horror</a>
                    <a href="/filter/stories/drama">Drama</a>
                    <a href="/filter/stories/romance">Romance</a>
                </div>
            </div>
            {%for story in action_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in comedy_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in scifi_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in mystery_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in horror_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in drama_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%for story in romance_stories%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            {%endfor%}
            {%if stories%}
            <h1 class="story-header">New Stories</h1>
            {%endif%}
            {%for story in stories reversed%}
            <div class="story">
                <div class="story-blocks">
                    <a href="/story/{{story.id}}"><h1>{{story.title}}</h1></a>
                    <p class="smaller">Written By: <a href="/profile/{{story.writer_of_the_story.id}}">{{story.writer_of_the_story.username}}</a></p>
                    <p class="smaller">Posted: {{story.created_at}}</p>
                    <p class="smaller">Genre: {{story.genre}}</p>
                </div>
            </div>
            <hr>
            {%endfor%}
        </section>
        <script src="{% static 'js/java.js' %}"></script>
</body>
</html>