<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script src="{% static 'js/java.js' %}"></script>
    {%load thumbnail%}
    <title>{{user.username}}</title>
</head>
<body>
    <header>
        <h1 class="storyline-header">
            <a href="/dashboard"><img class="logo" src="{% static 'images/typewriter.jpg' %}"/>
            </a>
            Storyline</h1>
            <h1>{{user.username}}</h1>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>
    <div class="dashboard">
        <h1 class="text-center">Edit Your Profile</h1>
        <div class="create-story">
            <div class="create-story-form">
                <ul>  
                    {% if messages %}  
                        {% for message in messages %}
                            <li class="text-danger">{{message}}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <form action="/profile/update/{{user.id}}" enctype="multipart/form-data" method="POST">
                    <h1 class="text-center">Edit {{user.username}}</h1>
                    {%csrf_token%}
                    <label class="form-label" for="first_name">First Name:</label>
                    <input class="form-control" type="text" name="first_name" value="{{user.first_name}}">
                    <label class="form-label" for="last_name">Last Name:</label>
                    <input class="form-control" type="text" name="last_name"
                    value="{{user.last_name}}">
                    <label class="form-label" for="last_name">Username:</label>
                    <input class="form-control" type="text" name="username"
                    value="{{user.username}}">
                    <!-- <label class="form-label" for="email_address">Email Adress:</label>
                    <input class="form-control" type="text" name="email_address"
                    value="{{user.email_address}}">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="text" name="password"
                    value="{{user.password}}">
                    <label class="form-label" for="pw_confirm">Confirm PW:</label>
                    <input class="form-control" type="password" name="pw_confirm"> -->
                    {% thumbnail user.profile.image "200x200" crop="center" as im %}
                    <img class="profile-pic" src="{{ im.url }}" width="200px" height="200px" style="border-radius: 20px;">
                    {% endthumbnail %}
                    <input class="form-control" type="file" name="image">
                    <input class="button" type="submit" value="update Account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>